/*레이아웃*/
	#header{width: 100%;height: 100vh;}
	#nav{
		width: 100%;
		height:52px;
		position: absolute;
		top: 100vh;
		background: rgba(0,0,0,0.8);
		display:flex;
	}
	#intro{	background: #f5f5f5;margin-top: 40px;}
	#work section{width: 100%;height: 100vh;}
	#ability{width: 100%;height: 100vh;}
	#footer{}

/*공통*/

	
	.title_eng{ 
	
		font-family: 'CanvasLight';
		font-size: 10vw;
	}
	.desc_eng{
		font-family: futura-pt, sans-serif;
		font-size: 1.4em;
		font-weight: 600;
	}

	.title {
		font-family: 'Butler Medium';
		font-size: 4.2em;
	}
	.mini_tit{
		font-family: futura-pt, sans-serif;
		font-size: 1.6em;
		font-weight: 300;
	}
	.ko_desc{
		letter-spacing:-1px;
		font-size: 1.4em;
		line-height: 1.8em;
	}

	.letter_circle{
		position: absolute;
		width: 12vw;height:12vw;
		background: url(../img/01/letter_circle.png) no-repeat center/contain;
		animation:letter_circle 15s linear infinite;
	}
	@keyframes letter_circle{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}
	}

/*header*/
	.header {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	.header_photo{
		position: absolute;
		top: 0;left: 0;
		z-index: -1;
		width: 100vw;
		height: 100vh;
		background: url(../img/01/header_img.jpg) no-repeat ;
		background-size:cover ;
		background-position:50%;
		animation:header-img 4s ease;
	}
    @keyframes header-img{
	from{
		filter:saturate(30%)brightness(30%)
		}
	to{
		filter:saturate(100%)brightness(100%)}
	}
	.header .text_bg{
		position: absolute;
		top: 0;right: 0;
		content:'';
		display: block;
		width: 0vw;
		height: 100vh;
		background: rgba(0,0,0,0.4);	 
	}
	.header h1{
		width: 30vw;
		position: absolute;
		top: 4vw;
		right: 4vw;
		text-align: right;
		line-height: 1.1em;
		color: #fff;
	}
	.header h1 p span{
		display: inline-block; 
		transform: translateY(80px);
		opacity: 0;
		min-width:40px;
	}
	
	.header .banner_deco span{position: absolute;color: #fff;letter-spacing: 2px;opacity: 0;}
	.header .banner_deco span:nth-child(1){top: 0vw;left: 4vw;}
	.header .banner_deco span:nth-child(2){top: 0vw;left:14vw;}
	.header .banner_deco span:nth-child(3){bottom: 0vw;left: 4vw;}
	.header .banner_deco span:nth-child(4){bottom: 0vw;right: 4vw;text-align: right;}

	  
	.banner_deco_svg svg:nth-child(1){
		width: 360px;
		height:340px;
		position: absolute;
		top: 24vh;left: 7vw;
		opacity: 0.5;
	}
	.banner_deco_svg svg:nth-child(2){
		width: 750px;
		height:750px;
		position: absolute;
		top: -15vh;right: -10vw;
		opacity: 0.5;
	}
	.banner_deco_svg svg:nth-child(3){
		width: 220px;
		height:200px;
		position: absolute;
		bottom: 14vh;right: 26vw;
		opacity: 0.5;
	}
	.banner_deco_svg .st0{
		fill:none;
		stroke:#FFFFFF;
		stroke-dasharray:1100;
		animation:small-circle 3s ease-in-out 1;
	}
	.banner_deco_svg .st0:nth-child(2){
		animation-duration:5s
	}
	.banner_deco_svg .st1{
		fill:none;
		stroke:#fff;
		stroke-dasharray:4200;
		animation:big-circle 5s ease-in-out 1;
	}			
	.banner_deco_svg .st2{
		fill:none;
		stroke:#fff;
		stroke-dasharray:1100;
		animation:small-circle 5s ease-in-out 1;
	}		
	
	@keyframes small-circle {
		from{stroke-dashoffset:-1100}
		to{stroke-dashoffset:0}
	}
	@keyframes big-circle {
		from{stroke-dashoffset:-4200}
		to{stroke-dashoffset:0}
	}
			
/*nav*/
	#nav.on {
		position: fixed;
		top: 0;left: 0;
		z-index: 10000;
	}
	.nav_logo {width: 80px;margin-left: 13vw;}
	.nav_logo a img{width: 80px;margin-top: 10px }
	.nav {
		width: 100%;
		height: 100%;
		margin-right: 13vw;
		position: relative;
		}
	.nav ul{
		display:flex;
		justify-content:flex-end;
		width: 100%;
		height: 100%;
		font-family: futura-pt, sans-serif;
		font-size: 1.2em;
	}
	.nav ul li{
		width: 25%;
		height: 100%;
		text-align: right;
		line-height: 52px;
		box-sizing:border-box;
	}
	.nav ul li a{
		color: #959595;
		transition:color 0.5s ease;
	}
	.nav ul li a:hover{
		color: #fff;
	}
	
	.nav ul li.active a{
		color: #fff;
	}
	
/*intro_01*/
	.intro_01{
		position: relative;
		height: 100vh;
		margin-bottom: 20vh;
		overflow: hidden;
	}
	.intro_01 .intro_01_photo{
		position: absolute;
		top: 50%;left: 50%;
		transform:translate(-50%,-50%);
		width: 70vw;
		padding:10vh 0;
		margin-top: 50px;
		overflow: hidden;
		opacity: 0;
		transition:all 1s cubic-bezier(0.5, 1, 0.89, 1);
	}
	.intro_01 .intro_01_photo img{
		filter:saturate(65%);	
		width: 40vw;
		margin-left: 15vw;
		z-index: 1;
	}
	.intro_01.show .intro_01_photo{
		opacity: 1;
		margin-top: 0;
	}
	.intro_01 .intro_01_photo .letter_circle{
		position: absolute;
		top: 0%;right: 12%;
		z-index: 1;opacity: 0;
		transition:opacity 1s cubic-bezier(0.5, 1, 0.89, 1);
	}
	.intro_01.show .intro_01_photo .letter_circle{
		opacity: 1;
	}
	.intro_01 .intro_01_photo > span{
		position: absolute;
		top:50%;
		z-index: 2;
		opacity: 0;
		transition:opacity 1.5s cubic-bezier(0.5, 1, 0.89, 1);
	}
	.intro_01.show .intro_01_photo > span{
		opacity: 1;
	}
	.intro_01 .intro_01_photo > span:nth-child(1){left:0%;}
	.intro_01 .intro_01_photo > span:nth-child(2){right:0%}
	.intro_01 .intro_01_cont{
		width: 40%;
		position: absolute;
		top: 100%;left: 50%;
		transform:translate(-50%,-50%);
		position: relative;
	}
	.intro_01 .intro_01_cont h2{
		font-family: 'Butler Medium';
		font-size: 2.6em;
		font-weight: 500;
		position: absolute;
		left: 0;bottom: 0;
		border-bottom: 3px solid #000;
	}
	.intro_01 .intro_01_cont h2:before{
		content:'';
		display: block;
		width: 60%;
		height:3px;
		background: #000;
		position: absolute;
		top: 30%;left: 0;
	}
	.intro_01 .intro_01_cont h2:after{
		content:'';
		display: block;
		width: 45%;
		height:3px;
		background: #000;
		position: absolute;
		top: 63%;left: 0;
	}
	.intro_01 .intro_01_cont h2 span{
		display: inline-block; 
		transform: translateY(80px);
		opacity: 0;
		min-width: 8px;
	}
	.intro_01 .intro_01_cont p{
		font-size: 1.3em;
		line-height: 1.8em;
		font-weight: 500;
		position: absolute;
		right: 0;bottom: 15px;
	}
	.intro_01 .bg_deco p {
		position: absolute;
		font-family: 'Butler Regular';
		font-size: 9vw;
		font-weight: 300;
		color: #e8e8e8;
		top: 50%;left:50%;
		transform:translate(-50%,-50%);
		text-align: center;
		letter-spacing: 1vw;
	}
	.intro_01 .bg_deco p span{
		display: block;
		opacity: 0;
		transition:all 1s cubic-bezier(0.5, 1, 0.89, 1);
	}
	.intro_01 .bg_deco p span:nth-child(1){transform:translateX(50%);}
	.intro_01 .bg_deco p span:nth-child(2){transform:translateX(-50%);}
	.intro_01 .bg_deco p span:nth-child(3){transform:translateX(50%);}
	.intro_01.show .bg_deco p span{opacity: 1;transform:translateX(0%)}
	
/*intro_02*/
	.intro_02{
		position: relative;
		width: 100%;
		height:110vh;
		}
	.intro_02 .container {
		width: 100%;
		height: 110vh;
		position: absolute;
		top: 0;left: 0;
		overflow: hidden;
	}
	.intro_02 .letter_circle{
		bottom: -12vh;
		left:70%;
		opacity: 0.3;
	}
	
	.intro_02 .intro_02_photo_01 {
		position: absolute;
		top: 0;left: -5vw;
		width: 25%;
		height:83vh;
		background: url(../img/01/intro_02_photo_01.jpg) no-repeat center/ cover;
		opacity: 0;
		transition:all 1s cubic-bezier(0.5, 1, 0.89, 1);
	}
	.intro_02.show .intro_02_photo_01{
		opacity: 1;
		left: 0vw;
	}
	
	.intro_02 .intro_02_photo_01_letter {
		position: absolute;
		top: 0;left: 100%;
		opacity: 0;
		width: 83vh;
		transform:rotate(90deg);
		z-index: 1;
		transform-origin:left top;
		transition:all 1s cubic-bezier(0.5, 1, 0.89, 1);
	}
	.intro_02.show .intro_02_photo_01_letter {
		 opacity: 1;
		 left: 110%;
	}
	.intro_02 .intro_02_photo_01_letter span{
		display:inline-block;
		width: 49.5%;
	}
	.intro_02 .intro_02_photo_01_letter span:nth-child(2){
		text-align: right;
		width: 49.5%;
	}
	.intro_02 .intro_02_cont {
		position: absolute;
		bottom: 0;left:105%;
		width: 30vw;
		text-align: right;
		opacity: 0;
		transition:all 1s cubic-bezier(0.5, 1, 0.89, 1);
	}
	.intro_02.show .intro_02_cont {
		opacity: 1;
	}
	.intro_02 .intro_02_cont p:first-child{
		letter-spacing: -0.5px;
		font-size: 1.3em;
		text-transform: uppercase;
	}
	.intro_02 .intro_02_cont p:last-child{
		font-size: 1.3em;
		margin-top: 50px;
	}
	.intro_02 .intro_02_photo_02 {
		position: absolute;
		top: 0;right: -5vw;
		opacity: 0;
		width: 40%;
		height: 110vh;
		background: url(../img/01/intro_02_photo_02.jpg) no-repeat center/ cover;
		transition:all 1s cubic-bezier(0.5, 1, 0.89, 1);
	}
	.intro_02.show .intro_02_photo_02 {
		opacity: 1;
		right: 0;
	}
	.intro_02 .svg svg{
		position: absolute;
		z-index: 1000;
	}
	.intro_02 .svg svg:nth-child(1){
		width: 360px;
		height:340px;
		position: absolute;
		top: -13vh;left: 45vw;
		opacity: 0.2;
	}
	.intro_02 .svg svg:nth-child(2){
		width: 750px;
		height:750px;
		position: absolute;
		bottom: -20vh;left: -10vw;
		opacity: 0.2;
		transform:rotate(180deg);
	}
		
	.intro_02 svg .st0{
		fill:none;
		stroke:#000000;
		stroke-miterlimit:10;
		opacity: 0;
	}
	.intro_02 svg .st1{
		fill:none;
		stroke:#000000;
		stroke-miterlimit:10;
		opacity: 0;
	}	
	.intro_02.show .svg .st0{
		stroke-dasharray:1100;
		animation:small-circle 3s ease-in-out 1;
		opacity: 1;
	}
	.intro_02.show .svg .st1{
		stroke-dasharray:4200;
		animation:big-circle 5s ease-in-out 1;
		opacity: 1;
	}	

/*intro_03*/
	.intro_03{
		width: 100%;
		height: 70vh;	
		position: relative;
	}
	.intro_03 .letter_circle{
		bottom: -13vh;right:10vh;
	}
	.intro_03 .intro_03_photo_01{
		height: 70vh;
		width: 100%;
		margin-top: 30vh;
		overflow: hidden;
	}
	
	.intro_03 .intro_03_photo_01 div{
		width: 100%;height: 100vh;
		background: url(../img/01/intro_03_photo_01.JPG) no-repeat center/ cover;
	}
	.intro_03 p{
		font-size: 1.3em;
		text-align: center;
		position: absolute;
		top: 55%;left: 50%;
		transform:translate(-50%,-50%);
		opacity: 0;
		transition:all 1s ease;
	}
	.intro_03.show p{
		opacity: 1;
		top: 50%;
	}

/*work_pc*/
	#work #pc{
		width: 100%;
		height: 100vh;
		position: relative;
	}	
	.pc{
		width: 100%;
		height: 100vh;
		margin-top: 10vh;
	}
	.work{
		width:100%;height: 100vh;
		position: relative;
	}
	.work_left{
		width: 27vw;
		position: absolute;
		overflow: hidden;
		left: 13vw;
		top: 50%;
		transform:translateY(-50%);
	}
	.work_left h3 {
		font-size:1.2em;
		font-weight: 600;
		letter-spacing:3px;
		margin-bottom: 50px;
	}
	.work_left h2{
		margin-bottom: 50px;
	} 
	.work_left p{
		width: 450px;
		margin-bottom: 50px;
	}
	.work_left span{
		font-size: 1.2em;
		font-family: futura-pt, sans-serif;
	}
	.work_left span:after{
		content:'';
		display: inline-block;
		width: 14vw;
		height: 1px;
		background: #f1b27d;
		margin-left: 30px;
		margin-bottom: 3px;
	}

	.work_right{
		width: 40vw;
		position: absolute;
		right:13vw;
		top: 50%;
		transform:translateY(-50%);
	}
	.work_right div{
		width: 100%;height:55vh;
	}
	.work_right div:before{
		content:'';
		display: block;
		width: 100%;
		height: 55vh;
		position: absolute;
		top: 30px;
		left: 30px;
		z-index: -1;
		filter:brightness(70%);
	}


	.work_01 .work_right div{
		background: url(../img/work_01.jpg) no-repeat center / cover;}
	.work_02 .work_right div{
		background: url(../img/work_02.jpg) no-repeat center / cover;}
	.work_03 .work_right div{
		background: url(../img/work_04.jpg) no-repeat center /cover;}
	.work_04 .work_right div{
		background: url(../img/work_05.jpg) no-repeat top left/cover;}

	.work_01 .work_right div:before{
	background: url(../img/work_01.jpg) no-repeat center / cover;}
	.work_02 .work_right div:before{
	background: url(../img/work_02.jpg) no-repeat center / cover;}
	.work_03 .work_right div:before{
	background: url(../img/work_04.jpg) no-repeat center / cover;}
	.work_04 .work_right div:before{
	background: url(../img/work_05.jpg) no-repeat center / cover;}


/*슬릭*/
	.slick-prev {
		position: absolute;
		left: 40px;top: 50%;
		width: 80px;
		height: 80px;
		text-indent: -9999px; 
		background: url(../img/01/arrow_prev.png) no-repeat left;
		opacity: 0.3;
		z-index: 10000;
	}
	.slick-next {
		position: absolute;
		right: 40px;top: 50%;
		width: 80px;
		height: 80px;
		text-indent: -9999px; 
		background: url(../img/01/arrow_next.png) no-repeat right;
		opacity: 0.3;
		z-index: 10000;
	}
	.slick-dots{
		display: block;
		width: 100%;
		text-align: center;
		margin-top: -60px;
	}
	.slick-dots li{
		display: inline-block;
		width: 15px;
		height: 15px;
		margin: 5px;
		border-radius:50%;
		background: rgba(0,0,0,0.2);
		text-indent: -9999px;
	}
	.slick-dots li.slick-active{
		background: rgba(0,0,0,0.6);
	}

/*work_mobile*/
	#work #mobile {
		width: 100%;
		height: 120vh;
		overflow: hidden;
		position: relative;
	}
	#mobile .title{
		margin-left: 13vw;
		margin-top: 100px;
		margin-bottom: 80px;
	}
	.mobile_bg {
		width: 100%;height: 100%;
		position: relative;
		} 
	.mobile_bg > img {
		width: 310px;
		position: absolute; 
		left: 13vw;
		top: 0;
	}
	.mobile_bg  .bxslider {
		position: absolute;
		z-index: -1;
	}

/*bx 슬라이더*/
	.bx-wrapper {
		position: relative;
		left: 13vw;
		max-width:76vw !important;
		background: none !important;
		border:0px solid #fff !important;
		box-shadow:0 0 0 #fff !important;
	}
	.bx-wrapper .bx-viewport {
		height:600px !important;
		position: absolute;
		left: 50%; 
		transform:translateX(-50%);
	}
	.bx-wrapper .bx-controls-direction a{display: none }
	.bx-wrapper .bx-pager {display: none;}

/*work_js_animation*/
	#work #JS_animation {
		position: relative;	
		height: 110vh
	}	
	#JS_animation .title{
		margin-left: 13vw;
		padding-top: 50px;
	
	}

	.js_ani {padding: 0 11vw;}
	.js_photo {
		margin: 2vw;
		height: 55vh;
		background: rgba(0,0,0,0.02);
		position: relative;
	}
	.js_photo img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
		width: 90%;
		z-index: -1;
	}
	.js_desc {
		margin: 2vw;
		margin-top: 40px;
	}
	.js_desc h3{
		font-family: futura-pt, sans-serif;
		font-size: 1.6em;
		font-weight: 600;
	}
	.js_desc p{
		letter-spacing:-1px;
		font-size: 1.4em;
		line-height: 1.8em;
		padding-top: 20px;
		padding-right: 3vw;
	}


/*work_logo*/
	#logo > div {
		width: 100%;
		height: 70vh;
		overflow: hidden;
		position: relative;
		}
	#logo > div .title{
		margin-left: 13vw;
		padding-top: 50px;
		color: #fff;
	}
	#logo > div .logo{
		width: 28%;
		position:absolute;
		top: 50%;left: 50%;
		transform:translate(-50%,-50%);
		z-index: 1;
	}
	.logo_bg{
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100vh;
		background: url(../img/01/work_logobg.jpg) no-repeat center center/ cover;
		filter:saturate(80%)brightness(80%);
	}	
	.logo .st0{fill:none;stroke:#fff;stroke-width:2;stroke-miterlimit:10;}
	.logo .st1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:2;}
	.logo .st2{stroke-miterlimit:10;}
	.logo .st3{font-family:'FuturaPT-Light';fill: #fff;}
	.logo .st4{font-size:80px;fill: #fff;}
	.logo .st5{font-size:44.6958px;fill: #fff;}
	.logo .st6{font-size:50.0447px;fill: #fff;}
	.logo .st7{fill:#fff;}
	.logo .st8{fill:#fff;}
/*모눈종이효과*/
	#logo.show #ver_1 {animation:ver 1s 1; stroke-dasharray:1600;}
	#logo.show #hor_1 {animation:hor 1s 1; stroke-dasharray:4000;}

	#logo.show #ver{animation:ver 1s 1s 1; stroke-dasharray:1600;stroke-dashoffset:-1600}
	#logo.show #hor{animation:hor 1s 1s 1; stroke-dasharray:4000;stroke-dashoffset:4000}
	#logo.show #ver.on{stroke-dashoffset:0}
	#logo.show #hor.on {stroke-dashoffset:0}
	#logo.show #ver_d ,#logo.show #hor_d,#logo.show #text{animation:opacity 3s ease-in-out 1}
		@keyframes ver{
		0%{stroke-dashoffset:-1600}
		100%{stroke-dashoffset:0}
		}
		@keyframes hor{
		0%{stroke-dashoffset:4000}
		100%{stroke-dashoffset:0}
		}
		@keyframes opacity{
		0%{opacity:0}
		100%{opacity:1}
		}
/*밑글씨효과*/
	#logo.show #cir{
		stroke-width:5;
		stroke-dasharray:2000;
		animation:circle 1s 2s 1;
		stroke-dashoffset:-2000
	}
	#logo.show #cir.on{
		stroke-dashoffset:0
	}
		@keyframes circle{
		0%{stroke-dashoffset:-2000}
		100%{stroke-dashoffset:0}
	}
	#logo.show #none,#rect{
		display: none;
		stroke-width:3
	}
	#logo.show #none.on,#logo.show #rect.on{
		display: block;
		animation:opacity 1s ease-in-out 1;
		stroke-width:3
	}
/*로고효과*/
	#logo.show #black{
		display: none;
	}
	#logo.show #black.on{
		display: block;
		animation:opacity 2s ease-in-out 1
	}
	#logo.show #ball{
		display: none;
	}
	#logo.show #ball.on{
		display: block;
		animation:bounce 1s 1
	}

	@keyframes bounce {
	  from{ -webkit-transform: translate3d(0, 800px, 0);
		transform: translate3d(0, 750px, 0);}
	  to{-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0px, 0);}  
	}
	#logo.show #ruler.on,#logo.show #letter.on{
		animation:opacity 2s ease-in-out reverse 1;
		opacity:0
	}

/*ability*/
	.ability{
		width: 100%;
		height: 100vh;
	}
	.ability .title{
		margin-left: 13vw;
		padding-top: 80px;
		margin-bottom: 50px;
	}
	.ability .skills {
	  width: 74vw;
	  height: 70vh;
	  margin: auto;
	  position: relative;
	}
	.ability .charts {
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 10;
	}
	.chart {
	  margin: 30px 0 0;
	  &:first-child {
		margin: 0;
	  }
	}

	.chart__title {
	  font-family: futura-pt, sans-serif;
	  display: block;
	  margin: 0 0 30px;
	  font-weight: bold;
	  font-size: 1.6em;
	}

	.chart--horiz {
	  overflow: hidden;
	}

	#ability.show .chart--horiz dd{
	  height: 10px;
	  opacity: 0;
	  animation: 1s anim-lightspeed-in ease forwards;	
	  background-image: linear-gradient(to right, #B6B7F8, #F5ACCC);
	 
	  margin-top: 4px;
	  margin-bottom: 20px;
	  }

	#ability.show .chart--dev dl dd:nth-child(2){animation-delay:0s; width: 95%;}
	#ability.show .chart--dev dl dd:nth-child(4){animation-delay:0.2s; width: 95%;}
	#ability.show .chart--dev dl dd:nth-child(6){animation-delay:0.4s; width: 85%;}
	#ability.show .chart--dev dl dd:nth-child(8){animation-delay:0.6s;width: 85%;}
	#ability.show .chart--dev dl dd:nth-child(10){animation-delay:0.8s;width: 65%;}

	#ability.show .chart--design dl dd:nth-child(2){animation-delay:1s;
	background-image: linear-gradient(to right, #F5ACCC, #B6B7F8);width: 95%;}
	#ability.show .chart--design dl dd:nth-child(4){animation-delay:1.2s;
	background-image: linear-gradient(to right, #F5ACCC, #B6B7F8);width: 85%;}


	.chart--horiz dt {
	  font-family: futura-pt, sans-serif;
	  color: #000;
	  font-size: 1.2em;
	}

	@keyframes anim-lightspeed-in {
	  0% {
		transform: translateX(-200%);
		opacity: 1;
	  }
	  100% {
		transform: translateX(0);
		opacity: 1;
	  }
	}

/*intro_04*/
	.intro_04 {
		width: 100%;
		height: 100vh;
		position: relative;	
	}
	.intro_04 .photo{
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
		z-index: 1;
		width: 50%;
	}
	.intro_04 .photo div{
		width: 32%;
		height: 43vh;
		display: inline-block;
		margin-left: 0.5%;
		transition:all 2s ease;

	}
	.intro_04 .photo_01{
		background: url(../img/01/intro_04_photo_01.jpg) no-repeat center/ cover;
		transform:translateX(-20%);opacity: 0;
	}
	.intro_04 .photo_02{
		background: url(../img/01/intro_04_photo_02.jpg) no-repeat center/ cover;
		transform:translateY(-20%);opacity: 0;
	}
	.intro_04 .photo_03{
		background: url(../img/01/intro_04_photo_03.jpg) no-repeat center/ cover;
		transform:translateX(20%);opacity: 0;
	}

	.intro_04.show .photo div {
	transform:translateX(0%);
	opacity: 1;
	}

	.intro_04 .bg_deco p{
		position: absolute;
		width: 100%;
		transform:translate(-50%,-50%) scale(0.9);
		font-family: 'Butler Regular';
		font-style:italic;
		font-size: 11em;
		line-height: 3.1em;
		color: #fff;
		text-align: center;text-shadow:0px 0px 1px #000;
		opacity: 0;
		transition:all 2s ease;
	}
    .intro_04.show .bg_deco p {
		transform:translate(-50%,-50%) scale(1);
		opacity: 1;
	}
	.intro_04 .bg_deco p:nth-child(1){
		top: 27%;left: 50%;}
	.intro_04 .bg_deco p:nth-child(2){
		top: 70%;left: 50%;}


/*intro_05*/
	.intro_05{
		position: relative;
		width: 100%;
		height:110vh;
		}
	.intro_05 .container {
		width: 100%;
		height: 110vh;
		position: absolute;
		top: 0;left: 0;
		overflow: hidden;
	}
	.intro_05 .letter_circle{
		bottom: -12vh;
		left:70%;
		opacity: 0.3;
	}
	
	.intro_05 .intro_05_photo_01 {
		position: absolute;
		top: 0;left: -5vw;
		width: 25%;
		height:83vh;
		background: url(../img/01/intro_05_photo_01.jpg) no-repeat center/ cover;
		opacity: 0;
		transition:all 1s cubic-bezier(0.5, 1, 0.89, 1);
	}
	.intro_05.show .intro_05_photo_01{
		opacity: 1;
		left: 0vw;
	}
	
	.intro_05 .intro_05_photo_01_letter {
		position: absolute;
		top: 0;left: 100%;
		opacity: 0;
		width: 83vh;
		transform:rotate(90deg);
		z-index: 1;
		transform-origin:left top;
		transition:all 1s cubic-bezier(0.5, 1, 0.89, 1);
	}
	.intro_05.show .intro_05_photo_01_letter {
		 opacity: 1;
		 left: 110%;
	}
	.intro_05 .intro_05_photo_01_letter span{
		display:inline-block;
		width: 49.5%;
	}
	.intro_05 .intro_05_photo_01_letter span:nth-child(2){
		text-align: right;
		width: 49.5%;
	}
	.intro_05 .intro_05_cont {
		position: absolute;
		bottom: 0;left:105%;
		width: 30vw;
		text-align: right;
		opacity: 0;
		transition:all 1s cubic-bezier(0.5, 1, 0.89, 1);
	}
	.intro_05.show .intro_05_cont {
		opacity: 1;
	}
	.intro_05 .intro_05_cont p:first-child{
		letter-spacing: -0.5px;
		font-size: 1.3em;
		text-transform: uppercase;
	}
	.intro_05 .intro_05_cont p:last-child{
		font-size: 1.3em;
		margin-top: 50px;
	}
	.intro_05 .intro_05_photo_02 {
		position: absolute;
		top: 0;right: -5vw;
		opacity: 0;
		width: 40%;
		height: 110vh;
		background: url(../img/01/intro_05_photo_02.jpg) no-repeat center/ cover;
		transition:all 1s cubic-bezier(0.5, 1, 0.89, 1);
	}
	.intro_05.show .intro_05_photo_02 {
		opacity: 1;
		right: 0;
	}
	.intro_05 .svg svg{
		position: absolute;
		z-index: 1000;
	}
	.intro_05 .svg svg:nth-child(1){
		width: 360px;
		height:340px;
		position: absolute;
		top: -13vh;left: 45vw;
		opacity: 0.2;
	}
	.intro_05 .svg svg:nth-child(2){
		width: 750px;
		height:750px;
		position: absolute;
		bottom: -10vh;left: -10vw;
		opacity: 0.2;
		transform:rotate(180deg);
	}
		
	.intro_05 svg .st0{
		fill:none;
		stroke:#000000;
		stroke-miterlimit:10;
		opacity: 0;
	}
	.intro_05 svg .st1{
		fill:none;
		stroke:#000000;
		stroke-miterlimit:10;
		opacity: 0;
	}	
	.intro_05.show .svg .st0{
		stroke-dasharray:1100;
		animation:small-circle 3s ease-in-out 1;
		opacity: 1;
	}
	.intro_05.show .svg .st1{
		stroke-dasharray:4200;
		animation:big-circle 5s ease-in-out 1;
		opacity: 1;
	}	


/*footer*/
	#footer{width: 100%;height: 120px;background: rgba(0,0,0,0.8);}
	.footer {margin:0 auto;width: 74vw;padding-top: 40px;display:flex;}
	.footer h2{width: 20%;}
	.footer h2 img {width: 80px;}
	.footer .right{width: 25%;}
	.footer .right li a {color: #fff;}
	.footer .center{width: 25%;display:flex;}
	.footer .center li a {
		display:inline-block;
		color: #fff;
		margin-right: 10px;
		font-size: 1.2em;
	}
	.footer .left{width: 30%;}
	.footer .left li a {color: #fff;}


/*미디어쿼리*/
/*화면 너비 0~1220px*/
@media (max-width:1220px){
		.title {font-size: 3.2em;}
	 /*헤더*/
		.header h1{font-size: 11vw;}
		.banner_deco_svg svg:nth-child(1){width: 235px;height:228px;}
		.banner_deco_svg svg:nth-child(2){width: 635px;height:635px;}
		.banner_deco_svg svg:nth-child(3){width: 179px;height:164px;}
	 /*인트로 01*/
		.intro_01 .intro_01_photo{width: 80vw;}
		.intro_01 .intro_01_photo img{width: 50vw;}
		.intro_01 .intro_01_cont {width:50vw;}
		.intro_01 .intro_01_cont h2 {font-size: 2.2em;}
		.intro_01 .intro_01_cont p {font-size: 1.2em;line-height: 1.6em;}
		.intro_01 .bg_deco p {font-size: 10vw;}
		.desc_eng {font-size: 1.3em;}
	/*인트로 02*/
		.intro_02 .intro_02_cont p:first-child {font-size: 1.2em;}
		.intro_02 .intro_02_cont p:last-child {font-size: 1.2em;}
		.intro_02 .intro_02_cont {left: 120%;}
		.intro_02 .intro_02_photo_02 {width: 36%;}
		.intro_02 .svg svg:nth-child(1) {width: 235px;height:228px;}
		.intro_02 .svg svg:nth-child(2) {width: 635px;height:635px;}
		.intro_02 .intro_02_photo_01_letter span {font-size: 1em;}
	/*work-pc*/
		.work_left { width: 30vw;}
		.work_left h3 {font-size: 1.1em;}
		.work_left h2 {font-size: 3.2em;}
		.work_left p{font-size: 1.2em;width: 30vw;}
		.work_left span {font-size: 1em;}
		.work_right{width: 38vw;}
		.work_right div{width: 100%;height:50vh;}
		.work_right div:before{	height: 50vh;}
		.slick-next {width: 60px;height: 60px; right: 25px;}
		.slick-prev {width: 60px;height: 60px; left: 25px;}
		.slick-dots li{display: inline-block;width: 10px;height: 10px;margin: 3px;}
	/*work-mo*/
		.mobile_bg > img {width:280px;}
		.mobile_bg  .bxslider div img{width: 280px;}
		.mobile_bg  .bxslider div{margin-right: 20px ! important;}
		.js_desc p {font-size: 1.2em;}
		.js_desc h3 {font-size: 1.4em;}
	/*인트로 04*/
		.intro_04 .bg_deco p {text-shadow: 0px 0px 0px #000;}
	/*인트로 05*/
		.intro_05 .intro_05_cont p:first-child {font-size: 1.2em;}
		.intro_05 .intro_05_cont p:last-child {font-size: 1.2em;}
		.intro_05 .intro_05_cont {left: 120%;}
		.intro_05 .intro_05_photo_02 {width: 36%;}
		.intro_05 .svg svg:nth-child(1) {width: 235px;height:228px;}
		.intro_05 .svg svg:nth-child(2) {width: 635px;height:635px;}
		.intro_05 .intro_05_photo_01_letter span {font-size: 1em;}
	}
/*화면 너비 0~1024px 기본 모니터*/
@media (max-width:1024px){
		.letter_circle {width: 15vw;height: 15vw;}
	    .header h1 {width: 33vw;font-size: 12vw;}
		.banner_deco_svg svg:nth-child(2) {width: 550px;height: 550px;}
		.nav_logo {margin-left: 11vw;}
		.nav {margin-right: 11vw;}
	 /*인트로 01*/
		.intro_01 .intro_01_cont {top: 95%;}
		.intro_01 .intro_01_cont h2 {font-size: 1.9em;}
		.intro_01 .intro_01_cont p {font-size: 1.1em;letter-spacing: -1px;line-height: 1.8em;bottom: 0;}
		.desc_eng {font-size: 1.1em;}
	/*인트로 02*/
		.intro_02 .intro_02_photo_01 {width: 20%;}
		.intro_02 .intro_02_cont {left: 170%;}
		.intro_02 .intro_02_photo_02 {width: 30%;}
		.intro_02 .svg svg:nth-child(1){left: 57vw;}
		.intro_02 .svg svg:nth-child(2){width: 550px;height: 550px;}
		.intro_03 p {font-size: 1.2em;}
	/*work-pc*/
		.work_left { width: 30vw;left: 11vw;}
		.work_left h3 {margin-bottom: 40px;font-size: 1em; letter-spacing:2.5px;}
		.work_left h2 {font-size: 3.1em;margin-bottom: 40px;}
		.work_left p {font-size: 1.1em;width: 30vw;margin-bottom: 40px;}
		.work_left span {font-size: 0.9em;}
		.work_right{width: 38vw;right: 11vw;}
		.work_right div:before {top: 20px;left: 20px;}
		.slick-next {width: 50px;height: 50px; right: 20px;}
		.slick-prev {width: 50px;height: 50px; left: 20px;}
	/*work-mo*/
		#mobile .title {margin-left: 11vw;margin-bottom: 50px;}
		.mobile_bg > img {width:250px;left: 11vw;}
		.mobile_bg  .bxslider div img{width: 250px;}
		.mobile_bg  .bxslider div{width: 250px ! important;}
		.mobile_bg .bx-wrapper {left: 11vw;}
		#JS_animation .title {margin-left: 11vw;}
		.js_desc p {font-size: 1.1em;}
		.js_desc h3 {font-size: 1.4em;}
		.js_ani {padding: 0 9vw;}
		.js_photo {height: 50vh;}
		.js_desc {margin-top: 20px;}
		.js_desc h3{font-size: 1.4em;}
		.js_desc p{font-size: 1.1em;padding-top: 10px;padding-right: 3vw;}
		#ability.show .chart--horiz dd {margin-bottom: 10px;}
	/*인트로 04*/
		.intro_04 .photo div {height: 38vh;}
		.intro_04 .bg_deco p {text-shadow: 0px 0px 1px #000;font-size: 9em;}
	/*인트로 05*/
		.intro_05 .intro_05_photo_01 {width: 20%;}
		.intro_05 .intro_05_cont {left: 170%;}
		.intro_05 .intro_05_photo_02 {width: 30%;}
		.intro_05 .svg svg:nth-child(1){left: 57vw;}
		.intro_05 .svg svg:nth-child(2){width: 550px;height: 550px;}
		.intro_05 p {font-size: 1.2em;}
	}
/*화면 너비 0~960px 타블렛*/
@media (max-width:960px){

	.header .text_bg{background: none;}
	.header h1 p span {min-width: 35px;}
}
/*화면 너비 0~768px*/
@media (max-width:768px){
	.intro_01 {height: 70vh;margin-bottom: 10vh;}
	.intro_02{height: 80vh;}
	.intro_02 .container,.intro_02 .intro_02_photo_01{height: 70vh;}
	.intro_02 .intro_02_photo_01_letter{width: 70vh;}
	.intro_02 .letter_circle{bottom: 0;left: 76%;}
	.intro_03 .intro_03_photo_01{margin-top: 10vh;}
	.header_photo{
		background: url(../img/01/header_img.jpg) no-repeat ;
		background-position:40%;
		background-size:cover;
	}
	.header h1 p span {min-width: 30px;}
	.letter_circle{width: 20vw;height: 20vw;}
	.header .banner_deco span{ font-size: 0.8em;}		
	.title {font-size: 2.6em;}
	.header h1 {width: 40vw;font-size: 12vw;top: 11vw;}
	.header .banner_deco span:nth-child(1){top: 0vw;left: 3vw;}
	.header .banner_deco span:nth-child(2){top: 0vw;left:16vw;}
	.header .banner_deco span:nth-child(3){bottom: 0vw;left: 3vw;}
	.header .banner_deco span:nth-child(4){bottom: 0vw;right:3vw;text-align: right;}
	.banner_deco_svg svg:nth-child(1) {top: 62vh;left: 0;}
	.banner_deco_svg svg:nth-child(2){width: 450px;height: 450px;top: -5vh;}
	/*인트로 01*/	
	.intro_01 .bg_deco p {font-size: 16vw;}
	.intro_01 .intro_01_photo > span {display: none;}
	.intro_01 .intro_01_photo img {width:  70vw;margin-left: 5vw;}
	.intro_01 .intro_01_cont{width: 70vw;}
	.intro_01 .intro_01_photo .letter_circle{right: 0;}
	/*인트로 02*/
	.intro_02 .intro_02_photo_01 {width: 40%;}
	.intro_02.show .intro_02_photo_02 {display: none;}
	.intro_02 .intro_02_cont {width: 50vw;left: 124%;bottom: 25%;text-align: left;	}
	.intro_02 .intro_02_cont p:last-child {font-size: 1.1em;}
	.intro_02 .svg svg:nth-child(1){width: 200px;height: 180px;top: -5vh;}
	.intro_02 .svg svg:nth-child(2){width: 400px;height: 400px;bottom: 0vh;}	
	.intro_03 .intro_03_photo_01 div {
		background: url(../img/01/intro_03_photo_01.JPG) no-repeat 42%/ cover;
	}
	/*work-pc*/
	.work_right div:before{display: none;}
	.work, .pc{height: 50vh;}
	.work_left{left:5vw;transform:translateY(0);top:0;width: 100%;}
	.work_left p,.work_left span{display: none;}
	.work_left h3 {margin-bottom: 10px;font-size: 0.8em;}	
	.work_left h2{margin-bottom: 0;font-size: 2.6em;} 
	.work_left span:after{display: none;}
	.work_right{width: 100%;margin: 0;padding: 0;top: 12vh;right: 0;transform:translateY(0);}
	.work_01 .work_right div {filter:brightness(80%)}
	#work #pc {height: 70vh;}
	#pc .slick-prev {background: url(../img/01/arrow_prev_white.png) no-repeat left;opacity: 1;}
	#pc .slick-next {background: url(../img/01/arrow_next_white.png) no-repeat right;opacity: 1;}
	#pc .slick-dots{position: absolute;z-index: 10000;}
	#work #mobile{height: 70vh;}
	#mobile .title {margin-bottom: 20px;margin-top: 0px;}
	.mobile_bg > img {width:200px;}
	.mobile_bg  .bxslider div img{width: 200px;}
	.mobile_bg  .bxslider div{width: 200px ! important;}
	/*js*/
	#work #JS_animation{height: 80vh;}
	.js_photo {height: 40vh;} 
	.js_desc p {font-size: 1em;}
	.js_photo img {width: 100%;}
	.slick-prev,.slick-next {width: 40px;height: 40px;}
	#work #logo{height: 60vh;}
	#logo > div{height: 50vh;}
	#logo > div .logo{width: 35%;}
	#ability{height: 70vh;}
	.ability .title {margin-bottom: 20px;}
	.chart__title {font-size: 1.3em;}
	/*인트로 04*/
	.intro_04 {height: 60vh;}
	.intro_04 .bg_deco p:nth-child(1) {top: 24%;}
	.intro_04 .bg_deco p:nth-child(2){top: 74%;}
	.intro_04 .bg_deco p {font-size: 7em;}
	.intro_04 .photo{width: 70%;}
	.intro_04 .photo div{height: 30vh;}
	/*인트로 05*/
	.intro_05{height: 70vh;}
	.intro_05 .container {height: 70vh;}
	.intro_05 .intro_05_photo_01 {width: 40%;height: 70vh;}
	.intro_05.show .intro_05_photo_02 {display: none;}
	.intro_05 .intro_05_cont {width: 50vw;left: 124%;bottom: 25%;text-align: left;	}
	.intro_05 .intro_05_cont p:last-child {font-size: 1.1em;}
	.intro_05 .svg svg:nth-child(1){width: 200px;height: 180px;top: -5vh;}
	.intro_05 .svg svg:nth-child(2){width: 400px;height: 400px;bottom: 0vh;}
	.intro_05 .letter_circle{bottom: 0;}
	/*푸터*/
	.footer .left{display: none;}
	.footer .center {width: 50%;justify-content: flex-end;}
	.footer .right {width: 50%; text-align: right;}
}
/*화면 너비 0~600px 모바일*/
@media (max-width:600px){
	.header h1 {top: 15vw;width: 43vw;font-size: 15vw;}
	.header .banner_deco span:nth-child(2) {left: 20vw;}
	.banner_deco_svg svg:nth-child(2){top: -15vh;right: -20vw;}
	.banner_deco_svg svg:nth-child(3){display: none;}
	.nav_logo {margin-left: 5vw;}
	#nav {justify-content:space-between;}
	.nav{
		width: 30vw;
		margin-right: 0;
	}	
	.nav .menu_btn {
		position: absolute;
		top: 16px;
		right: 5vw;
		width: 25px;
		height: 2px;
		background: #fff;
		transition:all .5s ease;
	}
	.nav .menu_btn:after{
		content:'';
		display: block;
		width: 25px;
		height: 2px;
		background: #fff;
		margin-top: 6px;
		transition:all .5s ease;
	}
	.nav .menu_btn:before{
		content:'';
		display: block;
		width: 25px;
		height: 2px;
		background: #fff;
		margin-top: 8px;
		opacity: 1;
		transition:all .5s ease;
	}
	.nav.open .menu_btn {transform:rotate(45deg);transform-origin: center;margin-top: 6px;}
	.nav.open .menu_btn:after{transform:rotate(-90deg);margin-top: -10px;}
	.nav.open .menu_btn:before{opacity: 0;}
	.nav ul{
		display:block;
		position: absolute;
		opacity:0;
		top: 52px;
		width: 30vw;
		transition:opacity .5s ease; 
		z-index: -1000;
		text-indent: -5000px;margin-left: 999px;
	}
	.nav.open ul{opacity: 1;z-index: 1000;text-indent: 0;margin-left: 0;}
	.nav ul li {
		text-align: center;
		width: 30vw; 
		background: rgba(0,0,0,0.6);
		transition:height .5s ease;
	}
	.intro_01 .intro_01_cont {top: 85%;}
	.intro_01 .intro_01_cont h2 {display: none;}
	.intro_01 .intro_01_cont p {position: static;text-align: center;}
	.intro_02 .intro_02_cont{left: 115%;}
	.intro_02 .intro_02_cont p:first-child{font-size: 1em;}
	.intro_02 .intro_02_cont p:last-child{font-size: 1em;}
	.intro_02 .intro_02_photo_01_letter span{color: #999;}
	.intro_03 p{width: 74vw;font-size: 1.1em;margin-left: 13vw;left: 0;transform:translate(0,0)}
	.intro_03.show p{width: 74vw; top: 45%;left: 0;transform:translate(0,0)}
	.intro_03 .letter_circle{bottom: -7vw;}
	#mobile .title {margin-left: 5vw;margin-bottom: 20px;}
	.mobile_bg > img{left: 5vw;}
	.mobile_bg .bx-wrapper {left: 5vw;}
	.slick-track .slick-slide:nth-child(8),.slick-slide:nth-child(14){display:none !important;}
	.bx-wrapper { max-width: 85vw !important;}
	#JS_animation .title {margin-left: 5vw;}
	.js_ani {padding: 0 5vw;}
	#JS_animation .slick-prev {display: none !important;}
	#JS_animation .slick-next {display: none !important;}
	#logo > div .logo{width: 42%;}
	#logo > div .title {margin-left: 5vw;}
	.ability .title{margin-left: 5vw;}
	.ability .skills{width: 80vw;}
	.intro_04 .photo {width: 70%;}
	.intro_04 .bg_deco p {font-size: 6em;}
	.intro_05 .intro_05_cont{left: 115%;}
	.intro_05 .intro_052_cont p:first-child{font-size: 1em;}
	.intro_05 .intro_05_cont p:last-child{font-size: 1em;}
	.intro_05 .intro_05_photo_01_letter span{color: #999;}
}

/*화면 너비 0~480px*/
@media (max-width:480px){
.banner_deco_svg .st1,.banner_deco_svg .st0 {animation:none;}
.banner_deco_svg svg:nth-child(2){width: 400px;height: 400px;top: -10vh;right: -40vw;}
.header h1{top: 15vh;width: 54vw;font-size: 18vw;line-height: 1.3em;}
.header h1 p span {min-width: 20px;}
.header .banner_deco span:nth-child(1){left: 5vw;}
.header .banner_deco span:nth-child(2){left: 25vw;}
.header .banner_deco span:nth-child(3){left: 5vw;}
.header .banner_deco span:nth-child(4){right: 5vw;}
.intro_01 .intro_01_photo{width: 100%;}
.intro_01 .intro_01_photo img {width: 90vw;}
.intro_01 .intro_01_cont{width: 90vw;}
.intro_01 .intro_01_cont p{font-size: 1em;}
.intro_01 .bg_deco p{font-size: 20vw;}
.intro_02.show .svg .st1,.intro_02.show .svg .st0{animation:none;}
.intro_02 .intro_02_photo_01 { width: 100%;background: none;}
.intro_02 .intro_02_cont { width: 80vw;text-align: center;left: 50%; transform: translateX(-50%);}
.intro_02 .intro_02_photo_01_letter {display: none;}
.intro_03 p{width: 85vw;margin-left: 7.5vw;}
.intro_03.show p{width: 85vw;}
.work_left {width: 100vw;height: 50vh;left: 5vw;}
.work_left p{display: none;}
.work_left span {display: none;}
.work_left h3{margin-bottom: 0;}
.work_left h2{font-size: 2.6em;}
#pc .slick-next,#pc .slick-prev {display: none !important;}
#pc .slick-dots {margin-top: -25px;}
.js_photo {height: 42vh;background: none;}	 
.js_desc {margin-left: 5vw;}
#logo > div {margin-top: 10vh;}
.chart__title{display: none;}
.chart--horiz dt{font-size: 1.1em;}
#ability.show .chart--horiz dd{margin-top: 0;margin-bottom: 5px;height: 7px;}
.ability .skills{height: 60vh;}
.ability .title{margin-bottom: 0;padding-top: 20px;}
.intro_04 {height: 50vh;}
.intro_04 .photo{width: 90%;}
.intro_04 .photo div{width: 31%;}
.intro_04 .bg_deco p {font-size: 4em;}
.intro_04 .bg_deco p:nth-child(1) {top: 10%;}
.intro_04 .bg_deco p:nth-child(2) {top: 90%}
.intro_05.show .svg .st0,.intro_05.show .svg .st1{animation:none;}
.intro_05 {height:60vh;}
.intro_05 .intro_05_photo_01 { width: 100%;background: none;height: 60vh;}
.intro_05 .container{height: 60vh;}
.intro_05 .intro_05_cont { width: 80vw;text-align: center;left: 50%;top: 25%; transform: translateX(-50%);}
.intro_05 .intro_05_photo_01_letter {display: none;}
.intro_05 .letter_circle{top: 56%;}
.footer {width: 90vw;}
.footer .center {display: none;}
.footer .right {width: 100%;}

/*화면 너비 0~320px 엣날폰*/
@media (max-width:360px){
.banner_deco_svg svg:nth-child(2){display: none;}
.header .banner_deco span{font-size: 0.4em;font-weight: 100;letter-spacing: 0;}
.nav{width: 40vw;}
.nav ul{width: 40vw;}
.nav ul li {width: 40vw;}
.letter_circle{width: 30vw;height: 30vw;}
.intro_01 .intro_01_cont p {font-size: 0.8em;}
.intro_02 .intro_02_cont p:first-child {font-size: 0.8em;}
.intro_02 .intro_02_cont p:last-child {font-size: 0.8em;}
.intro_02 .svg svg:nth-child(2) {width: 300px;height: 300px;}
.intro_02 .letter_circle {bottom: 10%;left: 65%;}
.intro_03 p{font-size: 0.9em;}
.intro_03.show p{font-size: 0.9em;}
.work_left h2{font-size: 2.2em;}
.title { font-size: 2.2em;}
.work_left h3{font-weight: 100;}
#work #mobile{height: 80vh;}
.mobile_bg > img {width:150px;}
.mobile_bg  .bxslider div img{width: 150px;}
.mobile_bg  .bxslider div{width: 150px ! important;}
.js_desc h3 {font-size: 1.2em;}
.js_desc p{font-size: 0.8em;}
}