/* layout */
#contents {}
#section1 {
    height: 100vh; 
    background: url(../img/header_img.jpg) no-repeat center center; 
    background-size: cover;
}
#section2 {height: 1000px; }
#section3 {height: 4000px;}
#section4 {}
#section5 {}
#section6 {}

/* container */
.container {}

/* scroll */
.scroll {
    position: fixed; right: 10px; top: 10px; width: 40px; height: 40px; 
    background: rgba(0,0,0,0.5); color: #fff;
    line-height: 40px; z-index: 1000; text-align: center;
}

/* sec1 */
.sec1 {height: 100vh; position: relative;}
.sec1 .text {
    width: 0vw; height: 100vh; position: absolute; right: 0; top: 0;
    background: #333;
}
.sec1 .text h2 {
    font-family: 'CanvasRegular'; 
    color: #fff;
    font-size: 10vw;
    line-height: 11vw;
    white-space: nowrap;
    position: absolute;
    left: -10vw;
    top: 40%;
    transform: translateY(-50%);
    text-align: right;
}
.sec1 .text h2 span {
    display: inline-block; min-width: 40px; transform: translateY(80px) opacity: 0;
}
.link span {
    font-size: 18px; font-weight: bold;
    position: absolute; color: #fff; font-family: futura-pt, sans-serif;}
.link span:nth-child(1) {top: 2vw; left: 2vw;}
.link span:nth-child(2) {top: 2vw; left: 9vw;}
.link span:nth-child(3) {bottom: 2vw; left: 2vw;}
.link span:nth-child(4) {bottom: 2vw; right: 2vw; text-align: right;}


.circle1 {position: absolute; left: 20vw; top: 10vh; width: 200px; height: 200px;}
.svg .circle1 circle {
     fill: none; cx: 91; cy: 91; r: 90;
    stroke: rgba(255,255,255,0.3); stroke-width: 1;
}

.svg .circle2 {
    position: absolute; left: 10vw; top: 10vh; width: 200px; height: 200px;
}
.svg .circle2 circle {
     fill: none; cx: 91; cy: 91; r: 90;
    stroke: rgba(255,255,255,0.3); stroke-width: 1;
}










