body{}
/*레이아웃*/
#header{}
#nav{}
#main_bnr{}
#move_nav{}
#footer{}
main{overflow: hidden;}

/*COMMON*/
.inTitle{text-align:center;}
.inTitle h2{
	display:inline-block;
	border-bottom:1px solid #222;
	font-size:20px;
	line-height:22px;
	font-family:'georgia', serif;
	letter-spacing:-0.2px;
}


.header{
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    border-bottom: 1px solid #e5e5e5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.header h1 {
    display: block;
    position: relative;
    top: 50%;
    text-align: center;
    font-weight: normal;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 0;
    line-height: 0;
}
.header h1.logo {
    display: inline-block;
    padding: 0;
}
.header h1.logo img {
    width: 203px;
}
.header button {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 5;
}
.header button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(../img/sprite-header.png) no-repeat;
    background-size: 120px 41px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.header .nav_btn{
	width: 40px;
    height: 60px;
    left: 5px;
	}
.header .nav_btn:before{
    width: 20px;
    height: 16px;
    background-position: 0 -20px;
}
.header .search{
    right: 45px;
}
.header .search:before{
    width: 22px;
    height: 22px;
    background-position: -25px -20px;
}
.header .cart{
	right: 7px;
}
.header .cart:before{
	width: 22px;
    height: 22px;
    background-position: -51px -20px;
}
.nav {
    overflow: hidden;
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 41px;
    margin-top: -1px;
    background: #fff;
}
.nav ul {display: table-row;}
.nav ul li {
    display: table-cell;
    width: 20%;
}
.nav ul li a {
    display: block;
    height: 100%;
    font-weight: bold;
    font-size: 14px;
    color: #212121;
    text-align: center;
    white-space: nowrap;
    letter-spacing: -0.2px;
    -webkit-transition: color 0.05s;
    transition: color 0.05s;
}
.nav li a > span {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    line-height: 40px;
}
.nav .on a > span:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 2px;
    right: 2px;
    height: 4px;
    background: #222;
}
.slick-prev, .slick-next {
z-index: 1;
text-indent: -9999px;
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
	content: '';
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid transparent;
    border-top-color: #fff;
    opacity: 0.6;
}
.slick-prev{
	left: 5px;
    border-left-color: #fff;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform:  rotate(-45deg);
    transform:  rotate(-45deg);
}
.slick-next {
	right: 5px;
    border-right-color: #fff;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.main_desc{
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 80px;
}
.main_desc strong, .main_desc span{
    display: block;
    padding: 0 15px;
    color: #fff;
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.main_desc strong {
    height: 27px;
    font-size: 27px;
    line-height: 27px;
    font-family: 'Times', 'Noto Serif***', 'Times New Roman', sans-serif;
    letter-spacing: 0;
}
.main_desc span {
    font-size: 15px;
    line-height: 13px;
    margin-top: 4px;
    line-height: normal;
}
.cate_nav{
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    background: #fff;
    border: 0;
}
.cate_nav .inner{
    padding: 0 8px;
    max-width: 436px;
    margin: 0 auto;
    box-sizing: border-box;
}
.cate_nav .inner ul {
	display: table;
    overflow: hidden;
    width: 100%;
}
.cate_nav .inner ul li {
    display: table-cell;
    width: 14.2%;
    text-align: center;
    vertical-align: middle;
}
.cate_nav  a {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: -1.2px;
}
.cate_nav em {
    display: block;
    position: relative;
    width: 42px;
    height: 42px;
    margin: 0 auto 7px;
    border: 1px solid #f0f0f0;
    border-radius: 100%;
    background: #f0f0f0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.cate_nav em:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url(../img/icon_tab_v2.png) no-repeat;
    background-size: 168px 23px;
}
.cate_nav ul li:nth-child(1) em:before {
    width: 17px;
    height: 21px;
    background-position: 0 -2px;
}
.cate_nav ul li:nth-child(2) em:before {
    width: 21px;
    height: 23px;
    background-position: -21px 0;
}
.cate_nav ul li:nth-child(3) em:before {
	width: 20px;
    height: 20px;
    background-position: -46px -2px;
}
.cate_nav ul li:nth-child(4) em:before {
    width: 21px;
    height: 18px;
    background-position: -70px -2px;
}
.cate_nav ul li:nth-child(5) em:before {
    width: 18px;
    height: 23px;
    background-position: -95px 0;
}
.cate_nav ul li:nth-child(6) em:before {
    width: 21px;
    height: 22px;
    background-position: -120px 0;
}
.cate_nav ul li:nth-child(7) em:before {
    width: 19px;
    height: 19px;
    background-position: -149px -2px;
}


.hot{
	margin-bottom: 30px;
    padding: 0;
}
.inTitle{margin-bottom: 15px;}
.inTitle h2{  
    line-height: 23px;
}
.keyword a{
    display: block;
    height: 30px;
    padding: 1px 15px 0;
    border: 1px solid #e5e5e5;
    border-radius: 30px;
    margin-right: 6px;
    color: #212121;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.sub_bnr{
	margin-top: 15px;
	margin-bottom: 36px;
}
.best_nav{   
	position: relative;
    overflow: hidden;
    height: 29px;
    margin-bottom: 16px;
    padding: 0 15px;
}
.best_nav ul li a {
    position: relative;
    display: block;
    height: 29px;
    padding: 1px 10px 0;
    margin-right: 3px;
    color: #212121;
    font-size: 13px;
    line-height: 29px;
    white-space: nowrap;
    font-weight: bold;
}
.best_nav ul li.on a:before {
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    display: block;
    content: '';
    border-bottom: 3px solid #222;
}
.best_item{
    overflow: hidden;
    padding: 0 13px;
}
.best_item ul {display: none;}
.best_item ul.on{
	display: block;
    display: table;
    table-layout: fixed;
    height: 229px;}

.best_item li {
    position: relative;
    display: table-cell !important;
    float: none;
    width: 139px !important;
    height: 100% !important;
    background-color: #fff;
    vertical-align: top;
}
.best_item a {
    display: block;
    height: 100%;
    margin: 0 2px;
    padding-bottom: 10px;
    vertical-align: top;
}
.best_item .prd_img {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 100%;
	display: block;
}
.best_item .prd_img:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.03);
    z-index: 1;
}
.best_item .prd_img .number {
    overflow: hidden;
    position: absolute;
    top: 7px;
    left: 7px;
    color: #000;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Times New Roman',sans-serif;
    z-index: 2;
}
.best_item .prd_img  img{
	position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    vertical-align: top;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.best_item .prd_info {
    padding: 12px 5px 0;
}
.best_item .prd_info .brand {
    display: block;
    max-height: 14px;
    font-size: 11px;
    font-family: 'georgia', serif;
    line-height: 14px;
    font-weight: normal;
    text-align: center;
    letter-spacing: -0.3px;
    overflow: hidden;
}
.best_item .prd_info .name {
    padding-top: 6px;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    max-height: 28px;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
}

.best_item .prd_info .price{
    font-size: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.2px;
}
.best_item .prd_info .price em{
	display: inline-block;
    color: #999;
}

.best_item .prd_info .sale_price{
    display: inline-block;
    font-weight: normal;
}
.week{
	margin-top: 23px;
}
.week_event{
	margin-top: 15px;
	position: relative;
    padding-bottom: 28px;
    text-align: center;
}
.week_event a {
    position: relative;
    display: block;
    height: 100%;
}
.week_event .week_img {
    position: relative;
    text-align: center;
} 
.week_event .week_img:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
}
.week_event .week_img img{
    width: 100%;
    max-width: 100%;
}
.week_event h3{
    position: absolute;
    left: 50%;
    bottom: 49px;
    display: inline-block;
    min-width: 29px;
    padding: 0 10px 0;
    margin-top: -24px;
    background: #222;
    border-radius: 24px;
    color: #fff;
    font-size: 12px;
    font-family: 'Georgia',sans-serif;
    text-align: center;
    line-height: 24px;
    z-index: 2;
    transform: translateX(-50%);
    letter-spacing: 0;
}
.week_event .week_desc{
	padding-top: 18px;
    text-align: center;
}
.week_desc strong, .week_desc span {
    display: block;
    padding: 0 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.week_desc strong {
    height: 25px;
    font-family: 'Times New Roman',sans-serif;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.2px;
    font-weight: normal;
}
.sale{margin-top: 15px;}
.sale h4 > a {display: block;}
.sale h4 > a img{display: inline;width: 100%;height: auto;}

.sale_set ul{
	padding: 0;    
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.sale_set ul li {
    width: 50%;
    margin: 0;
    padding: 0 0 27px 0;
    position: relative;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.sale_set ul li a {display: block;}
.sale_set ul li a .prd_img{
	display: block;
	background: #fff;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 100%;
}
.sale_set ul li a .prd_img:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,.03);
}
.sale_set ul li:last-child a .prd_img:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,.06);
}
.sale_set ul li a .prd_img img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    vertical-align: top;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.sale_set ul li .prd_info {
    padding: 13px 5px 0;
}
.sale_set ul li .prd_info .brand{
    display: block;
    font-family: 'georgia', serif;
    font-weight: normal;
    text-align: center;
    word-break: break-word;
    letter-spacing: -0.3px;
    overflow: hidden;
    height: 14px;
    font-size: 14px;
    line-height: 14px;
}
.sale_set ul li .prd_info .name{
    font-size: 13px;
    display: -webkit-box;
    padding-top: 7px;
    text-overflow: ellipsis;
    text-align: center;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: normal;
    max-height: 30px;
    font-size: 13px;
    line-height: 15px;
    overflow: hidden;
    -webkit-line-clamp: initial;
}
.sale_set ul li .prd_info .price{
    text-align: center;
    display: block;
    padding-top: 4px;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: -0.4px;
}
.sale_set ul li .prd_info .price em{
    display: inline-block;
    color: #999;
}
.sale_set ul li .prd_info .sale_price {
    display: inline-block;
    font-weight: normal;
}
.sale_set ul li .prd_info .sale_price:before{
    padding: 0 2px;
	content: '/';
    display: inline-block;
}
#footer{
    overflow: hidden;
    font-size: 12px;
    padding-bottom: 45px;
    border-top: 1px solid #f0f0f0;
}
.footer_notice{
    border-bottom: 1px solid #f0f0f0;
}
.footer_notice li {
    position: relative;
    overflow: hidden;
    height: 30px;
    padding-left: 45px;
}
.footer_notice li em {
    position: relative;
    display: block;
    float: left;
    width: 30px;
    margin-left: -30px;
    font-size: 12px;
    line-height: 32px;
    color: #212121;
}
.footer_notice li em > a {
    display: block;
}
.footer_notice li em:after {
    position: absolute;
    top: 50%;
    right: 0;
    content: '';
    height: 10px;
    margin-top: -5px;
    border-right: 1px solid #ddd;
}
.footer_notice li em:after {
    position: absolute;
    top: 50%;
    right: 0;
    content: '';
    height: 10px;
    margin-top: -5px;
    border-right: 1px solid #ddd;
}
.footer_notice li > a {
    overflow: hidden;
    display: block;
    padding: 0 35px 0 10px;
    font-size: 12px;
    line-height: 32px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.footer_notice li > a:after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border: 1px solid #222;
    border-left: transparent;
    border-bottom: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    vertical-align: 1px;
}
.footer_info{
    display: flex;
    flex-wrap: nowrap;
    padding: 0 15px;
    height: 52px;
    background: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    text-align: center;
    align-items: center;
}
.footer_info .ars {
    flex-grow: 1;
    text-align: left;
    font-size: 14px;
}
.footer_info .ars strong {
    margin-left: 3px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -1px;
}
.footer_info .footer_tel {
    flex-grow: 3;
    text-align: right;
}
.footer_info .footer_tel .tel {
    display: inline-block;
    font-size: 12px;
}
.footer_info .footer_tel .tel > em:before {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    vertical-align: -12px;
    content: '';
    background: url(../img/icon.png) 100% -120px no-repeat;
    background-size: 500px;
}
.footer_info .footer_tel .kakao {
    display: inline-block;
    margin-left: 7px;
    font-size: 12px;
}
.footer_info .footer_tel .kakao > em:before {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    vertical-align: -12px;
    content: '';
    background: url(../img/icon.png) 100% -152px no-repeat;
    background-size: 500px;
}

.footer .sns {
    margin-top: 10px;
    text-align: center;
}
.footer .sns a {
    display: inline-block;
    overflow: hidden;
    width: 30px;
    height: 30px;
    background: url(../img/icon.png) 0 0 no-repeat;
    background-size: 500px;
    text-indent: -9999px;
    vertical-align: middle;
}
.footer .sns a:nth-child(1){background-position: 0px -246px;}
.footer .sns a:nth-child(2){background-position: -30px -246px;}
.footer .sns a:nth-child(3){background-position: -135px -246px;}
.footer .footer_nav{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
}
.footer .footer_nav li {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 auto;
    flex: 1 auto;
}
.footer .footer_nav li:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 10px;
    background-color: #ddd;
    -webkit-transform: translateY(-49%);
    transform: translateY(-49%);
}
.footer .footer_nav li a{
	display: block;
    padding: 7px 0 3px;
    text-align: center;
    letter-spacing: -0.7px;
}
.bt_nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 44px;
    border-top: 1px solid #d3d3d3;    
	background: #fff;
    z-index: 10;
}
.bt_nav button {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    color: transparent;
    border: 0 none;
    text-indent: 100%;
    background: none;
    overflow: hidden;
}
.bt_nav button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(../img/sprite-nav_v2.png) no-repeat 0 0;
    background-size: 25px 146px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.bt_nav .lnb:before {
    width: 26px;
    height: 18px;
    background-position: 0 -75px;
}
.bt_nav .trk:before {
    width: 26px;
    height: 20px;
    background-position: 0 -50px;
}
.bt_nav .hom:before {
    width: 18px;
    height: 22px;
    margin-top: 1px;
    background-position: 0 0;
}
.bt_nav .myp:before {
    width: 18px;
    height: 22px;
    background-position: 0 -24px;
}
.bt_nav .rct:before {
    width: 26px;
    height: 18px;
    background-position: 0 -104px;
}
.btn_top{display: none;}
.btn_top.on {
    display: block;
    position: fixed;
    bottom: 60px;
    right: 15px;
    z-index: 15;
}
.btn_top a {
    display: block;
    overflow: hidden;
    position: relative;
    width: 40px;
    height: 40px;
    background: url(../img/btn_top.png) no-repeat 0 0;
    background-size: 40px 40px;
    color: transparent;
    text-indent: 100%;
}